@import url("./views/Home/home.css");

body {
  /* overflow: hidden; */
  scrollbar-width: none;
  background-color: black;
  margin: 0;
  font-family: "JetBrains Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.overlay-ui {
  width: 100vw;
  z-index: 100;
  height: 100vh;
  background: rgb(255, 255, 255, 0.15);
  backdrop-filter: blur(4px);
  transition-duration: 2s;
  transition-property: opacity;
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  /* grid-template-rows: 45% 25% 30%; */
  font-size: 14px;
  grid-auto-flow: column;
}

.overlay-content-right {
  grid-column-start: 3;
  color: white;
  margin: 50px;
  grid-row-start: 3;
}

.overlay-content-left {
  grid-column-start: 1;
  grid-row: 2/4;
  word-break: break-all;
  color: white;
  margin: 50px;
  display: grid;
  /* grid-template-rows: 50% 50%; */
}

.bottom-content {
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow-y: scroll;
  height: 300px;
}

.bottom-content a {
  margin-bottom: 10px;
}

.title-content {
  grid-row: 1/2;
  grid-column: 1;
  margin: 50px;
  color: white;
  display: grid;
  grid-template-columns: 50% 50%;
}

.title-content h2 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 40px;
}

.title-content p {
  grid-column: 1;
}

@media only screen and (max-width: 400px) {
  .title-content {
    grid-template-columns: none;
  }
  .overlay-content-left {
    grid-template-rows: none;
  }
  .bottom-content {
    margin-top: 50px;
  }
}

.bottom-content::-webkit-scrollbar-track {
  background-color: transparent;
}

.bottom-content::-webkit-scrollbar {
  width: 3px !important;
  background-color: transparent;
}

.overlay-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 33.333% 33.333% 33.333%;
}

.svg-container-outside {
  position: absolute;
  margin: 50px;
  grid-column-start: 3;
  display: flex;
  justify-content: flex-end;
  justify-self: flex-end;
}

.svg-container-outside-left {
  position: absolute;
  margin: 50px;
  grid-column-start: 1;
  display: flex;
  justify-content: flex-start;
  justify-self: flex-start;
}

.more-info {
  text-decoration: none;
  color: white;
}

.svg-container-inside {
  grid-column-start: 3;
  display: flex;
  justify-content: flex-end;
}

.arrow-svg-icon {
  /* margin: 50px; */
  cursor: pointer;
  z-index: 50;
  position: absolute;
  width: 32px;
  height: 32px;
  grid-column-start: 3;
}

.x-svg-icon {
  z-index: 101;
  cursor: pointer;
  position: absolute;
  width: 32px;
  height: 32px;
  grid-column-start: 3;
}
.list-svg-icon {
  /* margin: 50px; */
  cursor: pointer;
  z-index: 50;
  position: absolute;
  width: 32px;
  height: 32px;
  grid-column-start: 3;
}
