.home-container {
  display: grid;
  grid-template-columns: 1;
  height: 100vh;
  grid-template-rows: 20% 50%;
  color: white;
  background-color: black;
}

.home-t {
  justify-content: center;
  align-content: center;
  margin: 50px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 40px;
}

.home-p {
  margin: 50px;
}
